@import '../variables';

@font-face {
    font-family: 'Bebas Kai';
    src: url('../fonts/SuperFestival.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

footer{
    border-top: 2px solid hsl(0, 1%, 84%);
    margin-top: 10rem;
width: 100%;
padding: 2rem;
padding-top:4rem ;

}

footer a,li{
    text-decoration: none;
    color: $accent-color ;
    cursor: pointer;
}

 footer li:hover{
    text-decoration: underline;
} 

 footer a:hover{
    text-decoration: underline;
} 

footer p,ol{
    font-family: 'roboto',sans-serif;
     color: $accent-color;
     list-style: none;
     text-align: center;
}


.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   margin: 0 auto;
    width: 100%;
}

.footer-box01-container{
    display: grid;
    grid-template-columns: 1fr ;
    width: 60%;
     text-align: center;
     margin: 0 auto;
    
}

.footer-box01-container p{
    text-align: left;
    
}

.footer-box01{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.footer-container div{
     margin: 0 auto;
}

.footer-container h4{
    font-family:'Super festival' ;
   
}


  .logo-icon-bottom{
    object-fit: contain;
    width: 2.5rem;
    height: auto;
    display: block;
    margin: 0 auto;
    
   }


   .footer-box03{
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
     align-items: start;
     gap: 0.5rem;
   }

   .footer-box03 ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
   }


   .footer-box04{
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
     align-items: start;
     gap: 0.5rem;
     text-align: center;
    
     
   }

   .copy-right-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 8rem;
margin-bottom: 3rem;
   }


   @media only screen and (max-width: 559px){
    .footer-container{
   
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  gap: 2rem;
  margin: 0;
  width: 100%;
  align-items: flex-start;

    }

   

    .footer-box01-container{
  display: flex;
    width: 100%;
    
    
     justify-content: center;
     flex-direction: column;
     align-items: center;
    text-align: left;
}

.footer-box01{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

      .footer-box01-container p{
    text-align: left;
    width: 100%;
    
   
    
} 



      .footer-box04{
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 0.5rem;
     text-align:start;
    
     width: 100%;
   }

   .footer-box04 p{
    white-space: nowrap;
   }

   .social-footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   }

   .footer-box03{
    width: 100%;
   }

  





}